<template>
    <f7-page>
        <f7-navbar title="List View Province"></f7-navbar>
        <f7-block-title>Province</f7-block-title>
        <f7-list simple-list>
            <f7-list-item v-for="d in province" :key="d.pr_id" title="">
                {{d.pr_name}} ( {{d.pr_name_en}} )
            </f7-list-item>
        </f7-list>
    </f7-page>
</template>
<script>
const axios = require('axios');  //Import
export default {
    data() {
      return {
        mydata: "",
        province:"",
        dristric:"",
        village:"",
        selex:1,
      }
    },
    mounted(){
        this.getprovince();
        this.getdristric(1);
        this.getVillage(103);
    },
    
    created(){
    },
    methods:{
        getVillage :function(id){
            var _this = this
                axios.get('https://address.mounoydev.com/v1/laos/get-village/'+id)
                .then(function (response) { // handle success
                     _this.village = response.data;
                })
                .catch(function (error) { // handle error
                    console.log(error);
                })
        },
        getprovince:function(){
            //https://address.mounoydev.com/v1/laos/get-province
                  var _this = this
                axios.get('http://localhost:3000/v1/laos/get-province')
                .then(function (response) { // handle success
                    _this.province = response.data;
                })
                .catch(function (error) { // handle error
                    console.log(error);
                })
        },
        getdristric:function(id){
            //https://address.mounoydev.com/v1/laos/get-dristric/1
            var _this = this
                axios.get('https://address.mounoydev.com/v1/laos/get-dristric/'+id)
                .then(function (response) { // handle success
                    _this.dristric = response.data;
                
                })
                .catch(function (error) { // handle error
                    console.log(error);
                })
        }
    }
  }
</script>
