<template>
    <f7-page>
    <f7-list no-hairlines-md>
    
        <f7-list-input
            label="ຊື່"
            type="text"
            placeholder="ກະລຸນາປ່ອນຊື່"
            clear-button
            :value="name"
            @input="name = $event.target.value"
            >
            <f7-icon icon="demo-list-icon" slot="media"></f7-icon>
        </f7-list-input>
        
        <f7-list-input
            label="ອີເມລ"
            type="email"
            placeholder="ອີເມລ"
            clear-button
             :value="email"
            >
            <f7-icon icon="demo-list-icon" slot="media"></f7-icon>
        </f7-list-input>
        <f7-list-input
            label="Password"
            type="password"
            placeholder="Your password"
            clear-button
            v-model="password"

        >
            <f7-icon icon="demo-list-icon" slot="media"></f7-icon>
        </f7-list-input>
        
    </f7-list>

        <f7-block>
            <f7-row>
                name: 

                <input v-model="name" type="text"/>

            </f7-row>

            <br>

            <f7-row>
                <f7-col >
                        <f7-button large raised fill @click="alert('Hio')" >OK</f7-button>
                </f7-col>
                <f7-col>
                    <f7-button large raised >Cancle</f7-button>
                </f7-col>
            </f7-row>
        </f7-block>
    {{name}} <br>
    {{email}} <br>
    {{password}} <br>

    </f7-page>
</template>

<script>
  export default {
    data() {
      return {
        name: "khampasith",
        email:"pigleykps@hotmail.com",
        password:"11234"
      }
    }
  }
</script>

<style  scoped>
    .red{
        background-color: red;
    }
    .bl{
        background-color: blue;
    }
    .y{
        background-color: yellow;
    }
</style>




