<template>
     <f7-page>
         Laos Prpvince
     </f7-page>
</template>
<script>
const axios = require('axios');
axios.get('http://localhost:3000/v1/laos/get-province')
  .then(function (response) {
    // handle success
    console.log(response);
  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });


</script>

<style scoped>

</style>